
/DirectMemoryExperiments/bin
/Demo/DirectMemory-WebDemo/target
/Demo/DirectMemory-WebDemo/logs
/DirectMemoryCache/target
/DirectMemory-Tests/target
/DirectMemory-Cache/target/test-classes
/DirectMemory-Cache/target/classes