<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %method - %msg%n</Pattern>
    </encoder>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/directmemory.log</file>
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class.%method - %msg%n</Pattern>
    </encoder>
  </appender>

  <logger name="org.directmemory.demo" level="all">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  
  <logger name="org.directmemory.storage" level="error">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  
</configuration>